<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shashank.spendistry" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--        android:usesCleartextTraffic="true"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Spendistry" >
        <activity
            android:name=".Activities.InvoicesActivity"
            android:parentActivityName=".Activities.DashboardActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API" />

        <activity
            android:name=".Activities.BusinessProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.ReportedInvoiceActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.OtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.EditProfileActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.OtpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.ReportedInvoiceActivity"
            android:exported="false"
            android:parentActivityName=".Activities.DashboardActivity" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.DashboardActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Spendistry.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.LoginActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.splashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>